Que1:Write a program to accept percentage from the user and display the grade accordin to the following criteria.

    Marks                  Grade

    .>90            :       A

    .>80 and <=90   :       B

    .>=60 and <=80  :       c

    .below 60       :       D

In [2]:
sub1=int(input("Enter your marks in first subject: "))
sub2=int(input("Enter your marks in second subject: "))
sub3=int(input("Enter your marks in third subject: "))
sub4=int(input("Enter your marks in fourth subject: "))
sub5=int(input("Enter your marks in fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub5)/5
print(avg)
if(avg>90):
    print("Grade:A")
elif(80<avg<=90):
    print("Grade:B")
elif(60<=avg<=80):
    print("Garde:C")
else:
    print("Grade:D")

Enter your marks in first subject:  89
Enter your marks in second subject:  90
Enter your marks in third subject:  92
Enter your marks in fourth subject:  87
Enter your marks in fifth subject:  89

89.4
Grade:B

Que 2:Write a program to accept the cost of the bike and display the road tax to be paid according  to following critiria

    Tax            Cost price (in rupees)

    15%     :       >100000

    10%     :       >50000 and <=100000

    5%      :       >=50000

In [4]:
Bikecost=int(input("Enter your bike cost: "))
if(Bikecost>100000):
    print("Your tax will be 15%(in rupees): ",(15*Bikecost)/100)
elif(50000<Bikecost<=100000):
    print("Your tax will be 10%(in rupees): ",(10*Bikecost)/100)
else:
    print("YOur tax will be 5%(in rupees): ",(5*Bikecost)/100)

Enter your bike cost:  100000

Your tax will be 10%(in rupees):  10000.0

Que 3: Accept any city from the user and display monument of that city

    City            Monument

    Delhi     :       Red fort

    Agra      :       Taj Mahal

    Jaipur    :       Jal Mahal

In [6]:
city=input("Enter the city: ")
match city:
    case "Delhi":
        print("The monument is Red Fort")
    case "Agra":
        print("The monument is Taj Mahal")
    case "Jaipur":
        print("The monument is Jal Mahal")
    case _:
        print("Enter name of another city.")

Enter the city:  Agra

The monument is Taj Mahal

Que 4: Check how many times a given number can be divisible by 3 before it is less than or equal to 10

In [7]:
number=int(input("Enter a number: "))
count=0
while(number<=10):
    if(number%3==0):
        count+=1
    number+=1
print("The number is divisible by 3: ",count ,"times")

Enter a number:  7

The number is divisible by 3:  1 times

Que 5: Why and when to use while loop give a detailed description with example

Ans: While loop statements in Python are used to repeatedly execute a certain statement as long as the condition provided in the while loop statement stays true. While loops let the program control to iterate over a block of code.

A "While" Loop is used to repeat a specific block of code an unknown number of times, until a condition is met.

In [8]:
a = 1
while( a<10):
    print("loop entered", a, "times")
    a = a+1
print("loop ends here")

loop entered 1 times
loop entered 2 times
loop entered 3 times
loop entered 4 times
loop entered 5 times
loop entered 6 times
loop entered 7 times
loop entered 8 times
loop entered 9 times
loop ends here

Que 6: Use nested while loop to print 3 different pattern.

In [9]:
i=1
while(i<=5):
    j=1
    while(j<=i):
        print(j,end=" ")
        j+=1
    print(" ")
    i+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
length=5
while(length!=0):
    j=1
    while(j<=length):
        print("*",end=" ")
        j+=1
    print(" ")
    length-=1

* * * * *
* * * *
* * *
* *
*

In [12]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

Que 7 & 8: Reverse a while to print the numbers from 10 to 1

In [13]:
i=10
print("Reverse Numbers")
while(i>0):
    print(i)
    i-=1

Reverse Numbers
10
9
8
7
6
5
4
3
2
1